h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: 100;
}

h2 {
    color: white;
    padding-bottom: 5px;
}

p {
    color: white;
    margin: auto, 10px;
}

.cta {
    color: aquamarine;
}

body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#copyright {
    color: gray;
    text-align: right;
    margin-top: auto;
}

