h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    color: white;
}


.cta {
    color: aquamarine;
}

body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#copyright {
    color: gray;
    text-align: right;
    margin-top: auto;
}

